<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Survival">
    <ion-content class="padding">
        <ion-list>
            <ion-item>
                <div style="text-align: center">
                    <ion-avatar item-left>
                        <i class="ion-ios-world-outline" style="color: #34495e; font-size: 40px"> <span
                                style="text-align: center; font-size: 30px; font-weight: bold">Latitude</span></i>
                        <p style="font-size: large;">{{desastre.latitude}}</p>
                    </ion-avatar>
                </div>
            </ion-item>
            <ion-item style="margin-top: 10px">
                <div style="text-align: center">
                    <ion-avatar item-left>
                        <i class="ion-ios-world-outline" style="color: #34495e; font-size: 40px"> <span
                                style="text-align: center; font-size: 30px; font-weight: bold">Longitude</span></i>
                        <p style="font-size: large;">{{desastre.longitude}}</p>
                    </ion-avatar>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
